<!-- <div>
  <nav class="navbar navbar-dark bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="space">
          <a class="nav-item nav-link active" href="#">Home </a>
          <a class="nav-item nav-link" href="#">Education</a>
          <a class="nav-item nav-link" href="#">Contact</a>

          <a class="nav-item nav-link" href="#">Skills</a>
        </div>
      </div>
    </nav>
  </nav>
</div> -->

<div class="space">
  <a routerLinkActive="active" routerLink="/banner">Home</a>
  <a [routerLinkActive]="'active'" routerLink="education">Education</a>
  <a [routerLinkActive]="'active'" routerLink="coding"> Work Experience</a>
  <a [routerLinkActive]="'active'" routerLink="skills">Skills</a>
  <button (click)="showurl()">Download Resume</button>
  <a [routerLinkActive]="'active'" routerLink="contact">Contact</a>
  <!-- <a href="../../assets/Resume.pdf"> Download Resume</a> -->
</div>
