
.container{
  gap: 2rem;
  display: flex;
}


table {
  font-size: 1.3 rem;
  outline: 1px solid plum;
  display: flex;
justify-content: center;
}
table tr{
  height: 40px;
}
table tr td{
  padding-left: 0.5rem;
}
table tr td:nth-child(even){
  color: white
}
section p{
  font-size: 1.2 rem;
  text-align: justify;
}
section p:not(:first-child){
  margin-top:1rem;
}
